@import 'variables';
@import '~sweetalert2/src/sweetalert2';
@import '@fortawesome/fontawesome-svg-core/styles.css';

@import 'elements/transitions';
@import 'elements/buttons';

@import "bootstrap/functions";
@import "custom/functions";

@import "custom/variables";
@import "bootstrap/variables";

@import "bootstrap/mixins";
@import "custom/mixins";

// Helpers
@import "helpers";

// Bootstrap components

@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Custom components

@import "custom/reboot.scss";
@import "custom/global.scss";
@import "custom/utilities.scss";

@import "custom/accordion.scss";
@import "custom/alerts.scss";
@import "custom/avatars.scss";
@import "custom/badge.scss";
@import "custom/buttons.scss";
@import "custom/card.scss";
@import "custom/carousel.scss";
@import "custom/close.scss";
@import "custom/custom-forms.scss";
@import "custom/dropdown.scss";
@import "custom/footer.scss";
@import "custom/forms.scss";
@import "custom/grid.scss";
@import "custom/icons.scss";
@import "custom/input-group.scss";
@import "custom/list-group.scss";
@import "custom/modal.scss";
@import "custom/nav.scss";
@import "custom/navbar.scss";
@import "custom/pagination.scss";
@import "custom/popover.scss";
@import "custom/progress.scss";
@import "custom/section.scss";
@import "custom/type.scss";

// Vendor

@import "custom/vendor/flatpickr.scss";
@import "custom/vendor/headroom.scss";
@import "custom/vendor/nouislider.scss";

html {
    margin: 0;
}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    background-color: $body-bg;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
}

@media (min-width: 1200px) { 
    .container {
    	max-width: 1140px !important;
    }
    .item-col-lg-3 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

// a:hover {
//     color: #172B4D !important;
// }

.rounded {
    border-radius: 0.225rem !important;
}

.form-horizontal .col-form-label, .form-horizontal .label-on-right {
    padding: 10px 5px 0 15px;
    text-align: right;
    max-width: 180px;
}

.card label {
    color: #8898aa !important;
    font-size: .99rem;
    margin-bottom: 2px;
}

.full-width-hr {
    margin-left: -15px;
    margin-right: -15px;
}

.suggestions-warns {
    margin-top: -10px !important;
}

.swal2-popup.swal2-toast .swal2-header {
    flex-direction: row;
    margin-right: 1rem;
}


.grid-course-name {
    height: 43px;
}
.grid-course-name {
    position: relative;
    font-size: 13px;
    height: 38px;
    display: -webkit-box;
    line-height: 1.15em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.grid-course-name {
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
}

.grid-course-description {
    height: 43px;
}
.grid-course-description {
    position: relative;
    height: 38px;
    display: -webkit-box;
    line-height: 1.15em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.grid-course-description {
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
}
.card-img-top {
    height: 130px !important;
    object-fit: cover;
}

.offline-alert {
    color: $white !important;
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%) !important;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1rem 3rem !important;
    z-index: 10000 !important;
    border-radius: 0.125rem !important;
}

@media only screen and (min-width: 768px) {
    .offline-alert {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 500px;
    }
}

.form-control {
    color: #000000 !important;
}

.custom-select {
    color: #000000 !important;
}

.course {
    &__user-img {
        height: 100px;
        width: 100px;
    }
}

#readmore {
    text-transform: capitalize;
}


p {
    font-size: 14px !important;
    font-weight: normal !important;
}

.course {
    &__outcome {
        background-color: #f9f9f9;
        border: 1px solid #dedfe0;
        padding: 10px 15px;
        &--title {
            font-size: 22px;
            font-weight: 600;
            margin: 0 0 10px;
        }
        & ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        & ul li {
            display: flex;
            margin-bottom: 10px;
            width: 45%;
            padding-left: 26px;
            font-size: 15px;
            position: relative;
        }
        & ul li:before {
            font-family: "Font Awesome\ 5 Free";
            font-weight: 900;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            content: "\f00c";
            color: #a1a7b3;
            font-size: 14px;
            position: absolute;
            left: 0;
            top: 4px;
        }
    }
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.course-curriculum-box {
    margin-bottom: 40px;
}
.course-curriculum-box .course-curriculum-title {
    padding-right: 31px;
}
.course-curriculum-box .course-curriculum-title .title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
}
.course-curriculum-box .course-curriculum-title .total-time {
    width: 130px;
    display: inline-block;
    text-align: right;
}

.course-curriculum-box .course-curriculum-title .total-lectures {
    width: 130px;
    display: inline-block;
    text-align: right;
}

.course__curriculum-accordion .lecture__group-title {
    position: relative;
    padding: 10px 30px 10px 45px;
    background: #f9f9f9;
    border: 1px solid #e8e9eb;
    cursor: pointer;
    height: auto;
    margin-top: 3px;
    color: #505763;
}

.course__curriculum-accordion .lecture__group-title .title {
    max-width: 60%;
    font-weight: 600;
}

.course__curriculum-accordion .lecture__group-title[aria-expanded="false"]:before {
    content: "\f067";
}

.course__curriculum-accordion .lecture__group-title[aria-expanded="true"]:before {
    content: "\f068";
}

.course__curriculum-accordion .lecture__group-title:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    position: absolute;
    left: 22px;
    font-size: 10px;
    top: 16px;
    color: #007791;
}

.course__curriculum-accordion .lecture__group-title .total-time {
    width: 130px;
    display: inline-block;
    text-align: right;
}

.course__curriculum-accordion .lecture-list .lecture {
    padding: 12px 30px 12px 73px;
    position: relative;
    border-bottom: 1px solid #e8e9eb;
    border-left: 1px solid #e8e9eb;
    border-right: 1px solid #e8e9eb;
    color: #686f7a;
}

.course__curriculum-accordion .lecture-list .lecture:before {
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f144";
    position: absolute;
    left: 45px;
    opacity: 0.3;
    font-weight: 900;
    font-size: 13px;
    top: 17px;
}

.course__curriculum-accordion .lecture-list .lecture.has-preview .lecture-title {
    cursor: pointer;
}

.course__curriculum-accordion .lecture-list .lecture .lecture-title {
    width: 50%;
    display: inline-block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-webkit-transition: 0.3s;
}

.course__curriculum-accordion .lecture-list .lecture .lecture-time {
    width: 100px;
    text-align: right;
}

.course__curriculum-accordion .lecture-list .lecture.has-preview {
    color: #007791;
}
.course__curriculum-accordion .lecture-list .lecture {
    padding: 12px 30px 12px 73px;
    position: relative;
    border-bottom: 1px solid #e8e9eb;
    border-left: 1px solid #e8e9eb;
    border-right: 1px solid #e8e9eb;
    color: #686f7a;
}

.VueCarousel-navigation-button {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    top: calc( 50% - 25px);
}

.VueCarousel-dot-container {
    margin-top: 0 !important;
}

.text-other {
    color: $otherMuted;
}

.rating {
    margin-top: 7px;
    font-size: 11px;
}